---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import "../assets/css/style.css";
import Button from "../components/ui/Button.astro";
import servicesCard01 from "../assets/images/services-card-01.png";
import portfolioCard01 from "../assets/images/portfolio-card-01.png";
import portfolioCard02 from "../assets/images/portfolio-card-02.png";
import portfolioCard03 from "../assets/images/portfolio-card-03.png";
import portfolioCard04 from "../assets/images/portfolio-card-04.png";
import portfolioCard05 from "../assets/images/portfolio-card-05.png";
import TestimonialsSlider from "../components/common/TestimonialsSlider.jsx";   
import logo from "../assets/images/logo.png";
import lightLg from "/assets/images/light-lg.png";
import hwwIcon01 from "../assets/images/hww-icon-01.svg";
import hwwIcon02 from "../assets/images/hww-icon-02.svg";
import hwwIcon03 from "../assets/images/hww-icon-03.svg";
import hwwIcon04 from "../assets/images/hww-icon-04.svg";
import BrandSlider from "../components/BrandSlider.jsx";
import Accordion from "../components/Accordion.jsx";
import TestimonialsSliderRtl from "../components/TestimonialsSliderRtl.jsx";
---

<Layout>
  <main class="main-content">
    <section class="hero-banner">
      <video
        src="/assets/videos/smoke.mp4"
        class="header-video"
        autoplay
        loop
        muted
        playsinline
      >
      </video>
      <div class="container">
        <div
          class="hero-banner-content text-center flex flex-col justify-center items-center relative z-[3]  pt-[100px] md:pt-[200px] lg:pt-[350px] "
        >
          <h1 class="hd-lg max-w-[850px] mb-[20px]">
            Beautiful. Strategic Results-Driven Websites
          </h1>
          <p class="text-[#737373] text-[20px] max-w-[500px] mb-[30px]">
            We craft high-performing websites that grow your business and
            elevate your brand online.
          </p>
          <Button
            label="View Our Work"
            className="py-[17px] px-[42px] text-[20px] rounded-[60px] border border-[#FFBD53] bg-[#FF712B] mb-[80px]"
          />
          <div class="brands-slider w-full">
            <BrandSlider client:load />
          </div>
        </div>
      </div>
    </section>
    <section class="our-services-secpt-[100px] relative z-[2] pb-[100px]" id="services">
      <div class="container">
        <div class="our-services-content">
          <div class="effect-wrapper relative max-w-[210px] mx-auto lg:mx-0">
            <h3 class="tag mb-[20px] ">Our Services</h3>
            <img src="/assets/images/light-sm.png" alt="our-services-effect" class="effect-img top-[-53px]">
          </div>
          <h2 class="hd-lg max-w-[720px] mb-[40px] text-center lg:text-left">
            Everything You Need to Thrive Online
          </h2>

          <div class="our-services-sec-area">
            <div class="services-item">
              <div>
                <h3 class="hd-md leading-[1.1]   max-w-[316px] min-w-[316px]">
                  Website Design & Development
                </h3>
              </div>
              <div>
                <h5 class="hd-sm leading-[1.1] mb-[20px] lg:mb-0 max-w-[211px]">
                  Websites That Work — Beautifully
                </h5>
              </div>
              <div>
                <Image
                  src={servicesCard01}
                  class="services-card-img"
                  alt="services-card-01"
                  layout="constrained"
                  class=""
                />
              </div>
              <div>
                <Button
                  label="Explore Our Services"
                  className="text-white text-[20px] font-bold py-[17px] px-[42px] rounded-[60px] border border-[#565656] bg-[#2C2C2C]"
                />
              </div>
            </div>
            <div class="services-item">
              <div>
                <h3 class="hd-md leading-[1.1] max-w-[316px] min-w-[316px]">
                  Branding & Identity
                </h3>
              </div>
              <div>
                <h5 class="hd-sm leading-[1.1] max-w-[211px]">
                  Build a Brand That Stands Out
                </h5>
              </div>
              <div>
                <Image
                  src={servicesCard01}
                  class="services-card-img"
                  alt="services-card-01"
                  layout="constrained"
                />
              </div>
              <div>
                <Button
                  label="Explore Our Services"
                  className="text-white text-[20px] font-bold py-[17px] px-[42px] rounded-[60px] border border-[#565656] bg-[#2C2C2C]"
                />
              </div>
            </div>
            <div class="services-item">
              <div>
                <h3 class="hd-md leading-[1.1] max-w-[316px] min-w-[316px]">
                  Mobile App Development
                </h3>
              </div>
              <div>
                <h5 class="hd-sm leading-[1.1] max-w-[211px]">
                  Intuitive Apps That Engage and Perform
                </h5>
              </div>
              <div>
                <Image
                  src={servicesCard01}
                  class="services-card-img"
                  alt="services-card-01"
                  layout="constrained"
                />
              </div>
              <div>
                <Button
                  label="Explore Our Services"
                  className="text-white text-[20px] font-bold py-[17px] px-[42px] rounded-[60px] border border-[#565656] bg-[#2C2C2C]"
                />
              </div>
            </div>
            <div class="services-item">
              <div>
                <h3 class="hd-md leading-[1.1] max-w-[316px] min-w-[316px]">
                  Animation
                </h3>
              </div>
              <div>
                <h5 class="hd-sm leading-[1.1] max-w-[211px]">
                  Bring Your Ideas to Life with Animation
                </h5>
              </div>
              <div>
                <Image
                  src={servicesCard01}
                  class="services-card-img"
                  alt="services-card-01"
                  layout="constrained"
                />
              </div>
              <div>
                <Button
                  label="Explore Our Services"
                  className="text-white text-[20px] font-bold py-[17px] px-[42px] rounded-[60px] border border-[#565656] bg-[#2C2C2C]"
                />
              </div>
            </div>
            <div class="services-item">
              <div>
                <h3 class="hd-md leading-[1.1] max-w-[316px] min-w-[316px]">
                  Digital Marketing
                </h3>
              </div>
              <div>
                <h5 class="hd-sm leading-[1.1] max-w-[211px]">
                  Get Seen. Get Clicked. Get Results.
                </h5>
              </div>
              <div>
                <Image
                  src={servicesCard01}
                  class="services-card-img"
                  alt="services-card-01"
                  layout="constrained"
                />
              </div>
              <div>
                <Button
                  label="Explore Our Services"
                  className="text-white text-[20px] font-bold py-[17px] px-[42px] rounded-[60px] border border-[#565656] bg-[#2C2C2C]"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-us-sec pb-[100px]" id="about">
      <div class="container">
        <div class="about-us-sec-card">
          <div class="effect-wrapper relative max-w-[210px]">
            <h2 class="tag text-center mb-[30px]">About Us</h2>
            <img src="/assets/images/light-sm.png" alt="our-services-effect" class="effect-img top-[-47px]">
          </div>
          <h3 class="hd-lg leading-[1.1] max-w-[1160px] text-center">
            We're More Than Designers — <span class="text-[#4B4B4B]">
              We're Your Digital Growth Partner
            </span>
          </h3>
        </div>
      </div>
    </section>
    <section class="our-work-sec pb-[100px]" id="portfolio">
      <div class="container">
        <div class="our-work-content">
          <div class="effect-wrapper relative max-w-[210px] mx-auto lg:mx-0">
            <h2 class="tag max-w-[210px] text-center mb-[40px]">Portfolio</h2>
            <img src="/assets/images/light-sm.png" alt="our-services-effect" class="effect-img top-[-55px]">
          </div>
          <div class="flex flex-col lg:flex-row text-center lg:text-left items-end justify-between mb-[40px]">
            <h3 class="hd-lg leading-[1.1] max-w-[700px] mb-[20px] lg:mb-0">
              Websites That Speak Louder Than Words
            </h3>
            <p class="text-[#676767] text-[20px] max-w-[400px]">
              Explore some of our favorite client projects, each designed to
              solve real business problems and deliver measurable results.
            </p>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2  gap-x-[20px] gap-y-[40px]">
            <div>
              <div class="portfolio-card">
                <div class="portfolio-card-img">
                  <Image
                    src={portfolioCard01}
                    alt="portfolio-card-01"
                    layout="constrained"
                  />
                </div>
                <div class="portfolio-card-content">
                  <h4 class="hd-md">Websites</h4>
                  <p class="text-white text-[20px] max-w-[300px]">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="portfolio-card">
                <div class="portfolio-card-img">
                  <Image
                    src={portfolioCard02}
                    alt="portfolio-card-01"
                    layout="constrained"
                  />
                </div>
                <div class="portfolio-card-content">
                  <h4 class="hd-md">Branding</h4>
                  <p class="text-white text-[20px] max-w-[300px]">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="portfolio-card">
                <div class="portfolio-card-img">
                  <Image
                    src={portfolioCard03}
                    alt="portfolio-card-01"
                    layout="constrained"
                  />
                </div>
                <div class="portfolio-card-content">
                  <h4 class="hd-md">Mobile App Development</h4>
                  <p class="text-white text-[20px] max-w-[300px]">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="portfolio-card">
                <div class="portfolio-card-img">
                  <Image
                    src={portfolioCard04}
                    alt="portfolio-card-01"
                    layout="constrained"
                  />
                </div>
                <div class="portfolio-card-content">
                  <h4 class="hd-md">Animation</h4>
                  <p class="text-white text-[20px] max-w-[300px]">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="portfolio-card">
                <div class="portfolio-card-img">
                  <Image
                    src={portfolioCard05}
                    alt="portfolio-card-01"
                    layout="constrained"
                  />
                </div>
                <div class="portfolio-card-content">
                  <h4 class="hd-md">Marketing</h4>
                  <p class="text-white text-[20px] max-w-[300px]">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div
                class="bg-[#121212] p-[30px] lg:p-0 flex justify-center flex-col items-center h-full rounded-[20px]"
              >
                <div
                  class="arrow-btn-wrapper w-[100px] h-[100px] rounded-[50%] mb-[20px] bg-[#2C2C2C] flex justify-center items-center"
                >
                  <span
                    class="arrow-btn rotate-[-37deg] text-[30px] text-white transform translate-y-[5px]"
                  >
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </div>
                <h4 class="text-white text-[30px] md:text-[50px] font-bold">
                  View All Portfolio
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials-sec pb-[100px] relative" id="testimonials">
      <div class="container">
        <div class="testimonials-content flex flex-col items-center justify-center mb-[70px]">
          <div class="effect-wrapper relative max-w-[210px]">
            <h2 class="tag text-center mb-[30px]">Testimonials</h2>
            <img src="/assets/images/light-sm.png" alt="our-services-effect" class="effect-img top-[-54px]">
          </div>
          <h3 class="hd-lg leading-[1.1] max-w-[1160px] text-center">
            What Our Clients Say
          </h3>
        </div>
        <TestimonialsSlider client:load />
        <!-- <TestimonialsSliderRtl client:load /> -->
      </div>
    </section>
    <section class="how-we-work pb-[100px]" id="how-we-work">
      <div class="container">
        <div class="flex flex-col items-center justify-center mb-[70px]">
          <div class="effect-wrapper relative max-w-[250px]">
            <h2 class="tag max-w-[220px] text-center mb-[40px]">How We Work</h2>
            <img src="/assets/images/light-sm.png" alt="our-services-effect" class="effect-img top-[-54px]">
          </div>
          <h3 class="hd-lg leading-[1.1]">Our Proven 4-Step Process</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-[40px]">
          <div class="hww-card">
            <div class="hww-circle mb-[20px]">
              <Image
                class=""
                src={hwwIcon01}
                alt="hww-circle"
                layout="constrained"
              />
            </div>
            <h5 class="text-white mb-[20px] text-[26px] font-bold">
              Discovery & Strategy
            </h5>
            <p
              class="text-[20px] max-w-[265px] text-center font-bold text-[#676767]"
            >
              Understanding your goals, audience, and vision.
            </p>
          </div>
          <div class="hww-card">
            <div class="hww-circle mb-[20px]">
              <Image
                class=""
                src={hwwIcon02}
                alt="hww-circle"
                layout="constrained"
              />
            </div>
            <h5 class="text-white mb-[20px] text-[26px] font-bold">
              Design & Prototyping
            </h5>
            <p
              class="text-[20px] max-w-[265px] text-center font-bold text-[#676767]"
            >
              Wireframes and UI concepts tailored to your brand.
            </p>
          </div>
          <div class="hww-card">
            <div class="hww-circle mb-[20px]">
              <Image
                class=""
                src={hwwIcon03}
                alt="hww-circle"
                layout="constrained"
              />
            </div>
            <h5 class="text-white mb-[20px] text-[26px] font-bold">
              Development
            </h5>
            <p
              class="text-[20px] max-w-[265px] text-center font-bold text-[#676767]"
            >
              Bringing your site to life with clean, scalable code.
            </p>
          </div>
          <div class="hww-card">
            <div class="hww-circle mb-[20px]">
              <Image
                class=""
                src={hwwIcon04}
                alt="hww-circle"
                layout="constrained"
              />
            </div>
            <h5 class="text-white mb-[20px] text-[26px] font-bold">
              Launch & Support
            </h5>
            <p
              class="text-[20px] max-w-[265px] text-center font-bold text-[#676767]"
            >
              Final deployment, training, and ongoing support.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="contact-sec relative z-[2]" id="contact">
      <!-- add smoke video in this section -->
      <video
        src="/assets/videos/smoke.mp4"
        class="contact-video"
        autoplay
        loop
        muted
        playsinline
      >
      </video>
      <div class="container relative z-[2]">
        <div class="flex flex-col items-center justify-center mb-[70px]">
          <div class="effect-wrapper relative max-w-[250px]">
            <h2 class="tag max-w-[220px] text-center mb-[30px]">Contact</h2>
            <img src="/assets/images/light-sm.png" alt="our-services-effect" class="effect-img top-[-54px]">
          </div>
          <h3 class="hd-lg leading-[1.1] mb-[30px] text-center lg:text-left">
            Ready to Build Something Amazing?
          </h3>
          <p class="text-white text-[20px] text-center">
            Let's talk about your project or idea — we're here to help.
          </p>
        </div>
        <form action="">
          <div
            class="grid md:grid-cols-2 gap-x-[20px] gap-y-[20px]"
          >
            <div class="field-wrapper">
              <input
                class="input-field"
                type="text"
                name="name"
                placeholder="Full Name"
              />
            </div>
            <div class="field-wrapper">
              <input
                class="input-field"
                type="email"
                name="email"
                placeholder="Full Name"
              />
            </div>
            <div class="field-wrapper">
              <input
                class="input-field"
                type="text"
                name="phone"
                placeholder="Phone Number"
              />
            </div>
            <div class="field-wrapper">
              <input
                class="input-field"
                type="text"
                name="service"
                placeholder="Service"
              />
            </div>
            <div class="field-wrapper col-span-2">
              <textarea
                class="input-field text-area resize-none min-h-[150px]"
                name="msg"
                placeholder="Message"></textarea>
            </div>
            <div class="col-span-2">
              <Button
                label="Submit"
                type="submit"
                className="text-black flex mx-auto text-[20px] font-bold py-[17px] px-[57px] rounded-[60px] border border-[#565656] bg-white"
              />
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="faq-sec lg:pt-[100px]" id="faq">
      <div class="container">
        <div class="flex flex-col items-center justify-center lg:mb-[70px]">
          <div class="effect-wrapper relative max-w-[250px]">
            <h2 class="tag max-w-[220px] text-center mb-[30px]">FAQ'S</h2>
            <img src="/assets/images/light-sm.png" alt="our-services-effect" class="effect-img top-[-54px]">
          </div>
          <h3 class="hd-lg leading-[1.1] mb-[30px] text-center max-w-[700px]">
            Frequently Asked Questions
          </h3>
          <Accordion client:load />
        </div>
        <div
          class="light-lg-wrapper mx-auto flex justify-center items-center border-b border-[#565656]"
        >
          <img src="/assets/images/light-lg.png" alt="light-lg" />
        </div>
      </div>
    </section>
  </main>
</Layout>
